*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
.mobile-layout{
    display: none;
}
footer{
    margin: 20px auto;
}
body{
    background-color: #EDF2F8;
    
    width: 100%;

}

.main-body{
        display: flex;
        height: 100vh;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
        position: relative;
}
.color-white{
    background-color: #ffffff;
    color: #18202D
}

.color-purple{
    background-color: hsl(263, 55%, 52%);
    color: #ffffff;
}
.color-gray{
    background-color: #49556B;
    color: #ffffff;

}
.color-dark{
    background-color: #18202D;
    color: #ffffff;

}

.box{
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    position: relative;

    
}

.box2 .member-quote{
    color: #c4c2c2;
}
.box4 .member-quote{
    color: #c4c2c2;
}
.quote-img{
    position: absolute;
    /* float: right;
    margin-left: 60%;
    margin-top: -60px; */
    right: 20%;
    top:0%;
    z-index: 1;

}
.box1 .msg-title{
    /* position: absolute; */
    z-index: 2;
}
.box1 .member-quote{
    color: #c4b0e4;
   padding-top: 700px;
}
.member-img{
    border-radius: 50%;
    width: 40px;
    position: absolute;
    float: left;
    }

.member-name, .member-role{
    padding-left: 50px;

}

.img-border{
    border: solid #51448C 2px;
}


.main-container{
    display: flex;
    position: absolute;
    top: 30px;
    height: 100px;
    /* background-color: aqua;    /* margin-top: 300px; */
    margin-bottom: 100px; */
    /* height: 100vh; */
    /* justify-content: center;
    width: 500px;
    margin: 100px auto; */
    

}

.left-testimonials{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    flex-basis: 75%;
    /* position: relative; */
    height: 90vh;
    /* justify-content:center; */
    /* align-items: stretch; */
    /* background-color: #A173E8; */
    /* margin: 0px;
    padding: px; */

    

    /* flex-wrap: wrap; */
    }
.top-row{
    display: flex;
    height: auto;
    /* flex-basis:  */

    /* height: 45vh; */
    
}
.bottom-row{
    display: flex;
    height: auto;
    /* align-content: flex-end;
    align-items: flex-end;
    margin-bottom: -200px; */
    /* flex-basis: 100%; */



    /* height: 45vh; */

}
.box1{
    flex-basis: 2fr;
   
    
}
.box2{
    flex-basis: 1fr;
}
.box3{
    flex-basis: 1fr;
}
.box4{
    flex-basis: 2fr;
    /* align-self: flex-end; */
}

.right-container{
    
    flex-basis: 25%;
    /* position: relative; */
    height: auto;
    /* height: 100vh; */
    /* background-color: #c4b0e4; */
    height: 90vh;

    
}

.box5{
    /* height: 400px; */
    height: auto;
}

.box5 .member-quote{
    font-size: 13px;
    line-height: 22.5px;
    /* padding-bottom: ; */
}

.member-name{
font-size: 15px;
}
.member-role{
    font-size: 12px;
    padding-bottom: 10px;
    color: #C9CDD0;
}
.msg-title{
    font-size: 17px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}
.member-quote{
    /* padding: 15px 0px; */
    font-size: 14px;
    line-height: 22px;
}
.box1 .member-role{
   
    color: #A173E8;
}
.box-left{
    /* height: 100%; */
}


@media all and (max-width: 500px){
    /* *{
        margin: 0px;
        box-sizing: border-box;
        font-family: 'Karla', sans-serif;
        padding: 0px;
    }
.box{
    margin: 20px;   
    position: initial;
}
        .main-container{
        flex-direction: column;
        float: none;
    }

    .left-testimonials{
        flex-direction: column;

    }
    .top-row{
        flex-direction: column;
    }
    .bottom-row{
        flex-direction: column;

    } */
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body{
        width: 100%;
    }
    .mobile-layout{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box{
        margin: 10px 20px;
    }
    .main-body{
        display: none;
    }
    .box5{
        height: auto;
    }
    
}